<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
  <div class="container-fluid">

    <!-- Page Heading -->
    <h2 class="h3 mb-2 text-gray-800">rerereTables</h2>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%"
                 cellspacing="0">
            <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Hire Date</th>
              <th>Job Id</th>
              <th>Salary</th>
              <th>Commission</th>
              <th>Manager Id</th>
              <th>Department Id</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td th:text="${getEmp.employeeId}"></td>
                <td th:text="${getEmp.firstName}"></td>
                <td th:text="${getEmp.lastName}"></td>
                <td th:text="${getEmp.email}"></td>
                <td th:text="${getEmp.phoneNumber}"></td>
                <td th:text="${getEmp.hireDate}"></td>
                <td th:text="${getEmp.jobId}"></td>
                <td th:text="${getEmp.salary}"></td>
                <td th:text="${getEmp.commission}"></td>
                <td th:text="${getEmp.managerId}"></td>
                <td th:text="${getEmp.departmentId}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</th:block>
</html>