<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.henry.web.payment.mapper.PaymentMapper">

<insert id="paymentInsert" parameterType="co.henry.web.payment.domain.PaymentVO">
		INSERT INTO PAYMENT(USER_ID,
							PAY_DATE,
							PAY_COST,
							SUB_TERM,
							PAY_CONFIRM)
		VALUES(#{userId},
				default,
				#{payCost},
				#{subTerm},
				#{payConfirmNum})
	</insert>


</mapper>