<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.song.web.employee.mapper.EmployeeMapper">

<select id ="list" resultType="co.song.web.employee.domain.EmployeeVO">
	SELECT * FROM EMPLOYEES
</select>
<select id="getList" resultType="co.song.web.employee.domain.EmployeeVO">
	SELECT * FROM EMPLOYEES
	WHERE EMPLOYEE_ID = #{employeeId}
</select>

<insert id="insert">
	INSERT INTO EMPLOYEES(EMPLOYEE_ID,
							FIRST_NAME,
							LAST_NAME,
							EMAIL,
							PHONE_NUMBER,
							HIRE_DATE,
							JOB_ID,
							SALARY,
							COMMISSION_PCT,
							MANAGER_ID,
							DEPARTMENT_ID)
	VALUES(#{employeeId},
			#{firstName},
			#{lastName},
			#{email},
			#{phoneNumber},
			#{hireDate},
			#{jobId},
			#{salary},
			#{commissionPct},
			#{managerId},
			#{departmentId})
			
	
</insert>


<update id="update">
	UPDATE EMPLOYEES
	SET FIRST_NAME=#{firstName}
		,SALARY =#{salary}
		,DEPARTMENT_ID =#{departmentId}
	WHERE EMPLOYEE_ID =#{employeeId}
</update>

<delete id="delete">
	DELETE FROM EMPLOYEES
	WHERE EMPLOYEE_ID = #{employeeId}
</delete>
</mapper>